---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

//font: 17px/30px 'firasans', sans-serif;

$spacing-unit:     30px;

$background-color: #002b36;
$font: 17px/30px 'firasans', sans-serif;
$base-line-height: 1.5;

// Body
$main-width: 600px;
$main-wide-width: 810px;
$menu-width: 80%;

// Nav Items
$nav-color: hsl(215, 50%, 77%);
$nav-selected-color: white;
$nav-selected-border: 2px solid hsl(45,98%,77%);

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;

$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$text-color: white;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"fonts",
"base",
"layout"
//"syntax-highlighting"
;
