Gemfile.lock

# Jekyll specified
_site
_drafts
.sass-cache
*.min.js
.jekyll-cache/
Rakefile

# Logs, Leftovers
*.log

# I use this to test various org mode blocks, no need to see this.
_posts/2015-10-02-test-org-mode.html

notes.org

org/_drafts
js/node_modules/
