---
layout: default
---
<div class="business-card" itemscope itemtype="http://schema.org/Person">
  <img id="photo" src="//avatars0.githubusercontent.com/u/987494?v=3&s=73" alt="Photo of Zephyr Pellerin"/>
  <div class="text">
    <h1 id="given_name" itemprop="givenName">Zephyr Pellerin</h1> <h1 id="handle" "itemprop="alternateName">| zv </h1>
    <p class="description">
      Interested in formal verification, symbolic execution and plan9.
    </p>
    <p class="links">
      <a href="mailto:zv@nxvr.org" itemprop="email"">zv@nxvr.org</a>·
      <a href="//github.com/zv" itemprop="url">github</a>·
      <a href="//twitter.com/zefyear" itemprop="url"">twitter</a>·
      <a href="https://raw.githubusercontent.com/zv/dotfilez/master/zv.gpg.pub">gpg</a>
  </div>
</div>

<div class="work_container">
  {% for project in site.data.projects %}
    <div class="project">
      <h1>{{ project.name }}</h1>
      <p>{{ project.description }}</p>
      <p class="links">
        {% for link in project.links %}
        <a href="{{ link[1] }}">{{ link[0] }}</a>
        {% endfor %}
      </p>
    </div>
  {% endfor %}
</div>
