$photo-size: 5rem;

@media (min-width: 599px) {
    .business-card {
        font-size: 14px;
        line-height: 20px;
        width: 30rem;
        height: 9rem;
        border: 1px solid white;
        margin: 0 auto;
        margin-bottom: 5rem;
        padding: 3rem 1rem 3rem 3rem;
        position: relative;

        .text {
            margin: -10px 0 0 100px;
        }

        h1 {
            font-size: 26px;
            margin: 10px 0;
        }

        p {
            margin: 0.5em 0;
        }

        .links {
            margin-top: 2.5em;
        }

        .links > a {
            margin: 0 0.3em 0 0;
        }

        #photo {
            display: inline;
            width: $photo-size;
            height: $photo-size;
            float: left;
            border: 1px solid white;
            background-size: $photo-size;
        }

        #given_name {
            display: inline; 
        }

        #handle {
            display: inline;
        }

        .permalink, .version {
            position: absolute;
            bottom: -22px;
            font-size: 10px;
            color: hsl(215,50%,75%);
        }

        .version {
            right: 0;
        }

        .permalink {
            left: 0;
            display: none;
        }

        a {
            border-width: 1px;
        }

        .buttons {
            position: absolute;
            left: 550px;
            font-size: 12px;
            width: 100px;
        }

        .buttons a {
            color: hsl(215,50%,70%);
            border-bottom-style: dotted;
        }

        .buttons a:hover {
            color: white;
        }
    }
}

@media (max-width: 598px) {
    .business-card {
        font-size: 14px;
        line-height: 20px;
        width: 85%;
        height: 9rem;
        border: 1px solid white;
        padding: 2px 0 0 0;
        margin: 0 auto;
        margin-bottom: 5rem;
        padding: 1rem 0.5rem 1rem 1rem;
        position: relative;

        .text {
//            margin: -10px 0 0 100px;
        }

        h1 {
            font-size: 1.4em;
//            margin: 10px 0;
        }

        p {
            margin: 0.5em 0;
        }

        .links {
            text-align: center;
            margin-top: 2em;
        }

        .links > a {
            margin: 0 0.3em 0 0;
        }

        #photo {
            display: inline;
            width: $photo-size;
            height: $photo-size;
            float: left;
            border: 1px solid white;
            background-size: $photo-size;
            margin-top: 1%;
            margin-right: 2%;
        }

        #given_name {
            display: inline; 
        }

        #handle {
            display: inline;
        }

        .permalink, .version {
            position: absolute;
            bottom: -22px;
            font-size: 10px;
            color: hsl(215,50%,75%);
        }

        .version {
            right: 0;
        }

        .permalink {
            left: 0;
            display: none;
        }

        a {
            border-width: 1px;
        }

        .buttons {
            position: absolute;
            left: 550px;
            font-size: 12px;
            // width: 100px;
        }

        .buttons a {
            color: hsl(215,50%,70%);
            border-bottom-style: dotted;
        }

        .buttons a:hover {
            color: white;
        }
    }
}

.card > .text {
    margin: -10px 0 0 100px;
}



// code
h1#work {
    // margin: 2rem 1rem 2rem 1rem;
}

div.work_container {
    width: 90%;
    margin: auto;
    .links {
        text-align: right;
    }
}

.project {
    margin: 1rem 0 1rem 0;
    font-size: 14px;
    vertical-align: top;
    border: #fafafa solid 1px;
    padding: 1em;
}

.project > h1 { font-size: 20px; margin: 0 0 1em 0; }
.project > p { line-height: 22px; }
.project a { border-width: 1px; }
.q { margin-left: -0.5em; }
.at { color: hsl(215, 50%, 70%); }
.where { font-size: 11px; color: hsl(215, 50%, 70%); }
.lang  { font-size: 11px; color: hsl(215, 50%, 90%); }