.business-card {
    font-size: 14px;
    line-height: 20px;
    width: 470px;
    height: 135px;
    border: 1px solid white;
    margin: 0 auto;
    margin-bottom: 75px;
    padding: 30px 10px 30px 30px;
    position: relative;

    .photo {
        width: 75px;
        height: 75px;
        float: left;
        border: 1px solid white;
        background-size: 73px;
    }

    .text {
        margin: -10px 0 0 100px;
    }

    h1 {
        font-size: 26px;
        margin: 10px 0;
    }

    p {
        margin: 0.5em 0;
    }

    .links {
        margin-top: 2.5em;
    }

    .links > a {
        margin: 0 0.3em 0 0;
    }

    #photo {
        display: inline;
        width: 73px;
        height: 73px;
        float: left;
        border: 1px solid white;
        background-size: 73px;
    }

    #given_name {
        display: inline; 
    }

    #handle {
        display: inline;
    }

    .permalink, .version {
        position: absolute;
        bottom: -22px;
        font-size: 10px;
        color: hsl(215,50%,75%);
    }

    .version {
        right: 0;
    }

    .permalink {
        left: 0;
        display: none;
    }

    a {
        border-width: 1px;
    }

    .buttons {
        position: absolute;
        left: 550px;
        font-size: 12px;
        width: 100px;
    }

    .buttons a {
        color: hsl(215,50%,70%);
        border-bottom-style: dotted;
    }

    .buttons a:hover {
        color: white;
    }
}

.card > .text {
    margin: -10px 0 0 100px;
}



// code
h1#work {
    margin: 20px 0 20px 0;
}

div.work_container {
    padding-left: 5%;
}

.project { font-size: 14px; display: inline-block; width: 380px; vertical-align: top;
           margin: 0 20px 4em 0;
         }
.project > h1 { font-size: 20px; margin: 0 0 1em 0; }
.project > p { margin: 10px 0 0 0; line-height: 22px; }
.project a { border-width: 1px; }
.q { margin-left: -0.5em; }
.at { color: hsl(215, 50%, 70%); }
.where { font-size: 11px; color: hsl(215, 50%, 70%); }
.lang  { font-size: 11px; color: hsl(215, 50%, 90%); }