/*******************
 *    Comments     *
 ******************/

.comments-container {
    will-change: content;
    margin-top: 3em;
    margin-bottom: 3em;

    h2 {
        color: $base01;
        font: $header2;
        text-align: center;
        letter-spacing: 0.05em;
    }

    p.comment-howto {
        text-align: center;
        margin-bottom: 3em;
    }
}

.comment {
    $photo-width: 3.5em;
    $photo-margin: 0.5em;

    padding: 0 0 2em 0;
    width: 100%;
    min-height: 5em;

    // by default, these look a little nasty.
    p { margin: 0.5em 0; }

    // make sure our list elements stay within the bounds of their enclosing
    // div.
    li { margin: 2ex; }

    .comment-photo {
        float: left;
        width: $photo-width;
        margin-right: $photo-margin;
        img {
            border: 1px solid black;
            margin-top: 15%;
            width: 90%;
        }
    }

    .comment-right { margin-left: $photo-width + $photo-margin; }
}

