/***************
 * Local Fonts *
 **************/

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'),
    url('/fonts/woff/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'),
    url('/fonts/woff/FiraSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium'),
    url('/fonts/woff/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'),
    url('/fonts/woff/FiraSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold Italic'),
    url('/fonts/woff/FiraSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular Italic'),
    url('/fonts/woff/FiraSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Mono';
    src: local('Fira Mono'),
         url('/fonts/woff/FiraMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: local('Fira Mono Bold'),
         url('/fonts/woff/FiraMono-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/****************
 * Remote Fonts *
 ***************/

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-Hair.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair Italic'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-HairItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans UltraLight'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans UltraLight Italic'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium Italic'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans SemiBold'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans SemiBold Italic'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraBold'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraBold Italic'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Heavy'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Heavy Italic'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Light Italic'),
    url('//code.cdn.mozilla.net/fonts/woff/FiraSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

// end of font loading

pre, code, span.verbatim {
    border: none;
    font: 0.9em 'Fira Mono', monospace;
}


code {
    // This color is *essentially* $base02
    @include bg_alpha_calc($base2, 0.25, $base3);
    padding: 0.2em;
}

/**
 Site Layout
 **/
.post-list h2 {
    font-size: 2rem;
    text-decoration: none;
    margin: 0 0 1rem 0;
}

span.postlist-date {
    font-size: 0.8rem;
    color: hsl(215, 50%, 75%);
}

/**
 Post
 **/
/* .post-content > section h2 { */
/*     margin-top: 2.5rem; */
/*     font-size: 1.4rem;     */
/*     font-weight: 200; */
/* } */

h1 {
    // font: 300 1.7rem "Fira Sans";
    // margin: 2.5rem 0 0.5em;
}

h1.post-title {
    color: $yellow;
    font: 500 1.7rem "Fira Sans";
    text-align: center;
    letter-spacing: 0.05rem;
}

// Level 1 headings
.outline-2 h2 {
    color: $yellow;
    font: 400 1.4rem "Fira Sans";
    margin: 1.5rem 0;
    letter-spacing: 0.05rem;

    b,i,code,pre {
        color: inherit;
    }
}

.outline-3 h3 {
    // color: $green;
    color: $green;
    font: 400 1.2rem "Fira Sans";
    margin: 1.2rem 0;

    b,i,code,pre {
        color: inherit;
    }
}

.outline-4 h4 {
    color: $base01;
    font: 400 1.15rem "Fira Sans";
    margin: 1.2rem 0;
    letter-spacing: 0.05rem;

    b,i,code,pre {
        color: inherit;
    }
}

.outline-5 h5 {
    color: $base00;
    font: 400 1.05em "Fira Sans";
    margin: 1.2rem 0;
    letter-spacing: 0.05rem;
}


li > .outline-text-5 {
    a {
        font-weight: bold;
    }
}
a ~ .outline-text-5 {
    display: none;
    font-weight: bold;
}

a.orgheadline6 {
}
