// end of font loading

pre, code, span.verbatim {
    font: 300 0.9em $monofontname;
}

code {
    // This color is *essentially* $base02
    @include bg_alpha_calc($base2, 0.25, $base3);
    padding: 0.2em;
}

/* Site Layout */
.post-list h2 {
    font-size: 2rem;
    text-decoration: none;
    margin: 0 0 1rem 0;
}

span.postlist-date {
    font-size: 0.8rem;
    color: hsl(215, 50%, 75%);
}

/**
 Post
 **/
$header1: 500 1.7rem  $headerfontname;
$header2: 400 1.4rem  $headerfontname;
$header3: 400 1.2rem  $headerfontname;
$header4: 400 1.15rem $headerfontname;
$header5: 400 1.05em  $headerfontname;

h1 {
    // font: 300 1.7rem $fontname;
    // margin: 2.5rem 0 0.5em;
}

h1.post-title {
    color: $yellow;
    font: $header1;
    text-align: center;
    letter-spacing: 0.05rem;
}

// Level 1 headings
.outline-2 > h2 {
    color: $yellow;
    font: $header2;
    margin: 1.5rem 0;
    letter-spacing: 0.05rem;

    b,i,code,pre {
        color: inherit;
    }
}

.outline-3 > h3 {
    // color: $green;
    color: $green;
    font: $header3;
    letter-spacing: 0.05rem;
    margin: 1.2rem 0;

    b,i,code,pre {
        color: inherit;
    }
}

.outline-4 > h4 {
    color: $base01;
    font: $header4;
    margin: 1.2rem 0;
    letter-spacing: 0.05rem;

    b,i,code,pre {
        color: inherit;
    }
}

.outline-5 > h5 {
    color: $base00;
    font: $header5;
    margin: 1.2rem 0;
    letter-spacing: 0.05rem;
}

li > .outline-text-5 {
    a {
        font-weight: bold;
    }
}

a ~ .outline-text-5 {
    display: none;
    font-weight: bold;
}
