/**
 * Basic styling
 */
main {
    width: $main-width;
    margin: 0 auto;

    &.wide {
        width: $main-wide-width;
    }
}


/**
 * Site header
 */
header#nav-container {
    margin: 0 auto;
    width: $main-width;

    &.wide {
        width: $main-wide-width;
    }
}


@media all and (max-width: 800px) {
    main {
        padding: 0;
        width: $mobile-width;
        margin: 0 auto;
    }

    /**
     * Site header
     */
    header#nav-container {
        width: $mobile-width;
        margin: 0 auto;
    }

}

nav#site-nav {
    padding: 1.5rem 0;

    li {
        display: inline-block;
        margin-right: 1em;
        list-style-type: none;
        vertical-align: top;

        a.nav-item {
            color: $nav-color;
            border-color: transparent;
            display: inline-block;

            &:hover, &#selected {
                color: $nav-selected-color;
                border-bottom: $nav-selected-border;
            }
        }
    }
}


/********************************
 *      Table of Contents       *
 *******************************/

div#text-table-of-contents {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 0.9em;
}

/**
 Posts Layout
**/
ul.post-list {
    padding: 0;
    width: 80%;
    list-style-type: none;
}

li.post-section {
    margin: 1rem 0;
}

/**
 Post Style
**/
article {
    line-height: 1.6em;
}

article > section > div p {
    margin: 1rem 0;
}

// Org Lists
article ul.org-ul {
    margin: 2ex;
}

article ol.org-ol {
    // not sure why I put this in
    // list-style-position: inside;
    margin: 2ex;
    li {
        p {
            margin: 0.5rem 0;
            margin-left: 1em;
        }
        p:first-of-type {
            margin-left: 0;
            margin: 0.5rem 0;
        }
    }
}

// Source code container
.org-src-container {
    // background-color: #073642;
    overflow-x: auto;
    border: 3px solid $base2;
    border-left: 11px solid $base2;
    font-size: 0.9rem;
    padding: 0.75rem 1rem;
    margin: 1rem 0;
}

// Footnotes/Asides
aside {
    p {
        font: normal 0.9em "Fira Sans";
    }
    margin: auto;
    position: absolute;
    margin-left: $main-width;
    padding-left: 3%;
    width: 8em;
    font-size: 0.8em;
    text-align: left;
    display: block;
}

@media all and (min-width: 1024px) and (max-width: 1260px) {
    aside {
        width: 7em;
        padding-left: 1em;
    }
}

@media all and (max-width: 1023px) {
    // on too small of a screen the asides are useless anyway;
    aside {
        position: static;
        display: inline;
    }
}

// Footnotes/Asides
.footnote-definition {
    font: normal 400 0.7rem "Fira Sans";
    position: absolute;
    margin-left: $main-width;
    padding-left: 2rem;
    width: 10rem;
}

// Quotes
.post-content blockquote {
    font: italic 400 0.8em "Fira Sans";
    border-left: 2px solid $base1;

    p {
        padding-left: 2%;
        line-height: 1.5rem;
        margin-right: 3rem;
        margin-top: 0.5rem;
    }
}

// Examples
pre.example {
    overflow-x: auto;
    background-color: $base2;
    border-left: 3px solid $base01;
    padding: 2ex;
}

// Terminal example
section.terminal-example {
    line-height: 20px;
    // background-color: $base03;
    border-left: 11px solid $base1;
    padding: 0 0 0 1.5em;
    margin: 1em 0 1em 0;
}

pre.terminal-example {
    display: inline;
}

span.yellow {
    color: $yellow;
}

// SVG Figures
figure > p {
    margin-top: 1em;
    margin-bottom: 1em;

    object {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

// Tables
article > section > div table {
    width: 100%;
    border-spacing: 0;

    td, th {
        border: 1px solid transparent; /* No more visible border */
        height: 30px;
        transition: all 0.3s;  /* Simple transition for hover effect */
        padding: 0.5em;
    }

    th {
        background: $base2;  /* Darken header a bit */
        font-weight: bold;
    }

    td {
        background: $base1;
        text-align: center;
    }

    tr {
        &:nth-child(odd) td { background: $base3; }
        &:nth-child(even) td { background: $base2; }
    }
}

/*******************
 *    Comments     *
 ******************/

$comment-padding: 5rem;
.comments-container {
    display: none;
    padding-top: $comment-padding;
    padding-bottom: $comment-padding;

    h2 {
        color: $base01;
        font: $header2;
        text-align: center;
        letter-spacing: 0.05rem;
    }

    p.comment-howto {
        text-align: center;
        padding-bottom: 3rem;
    }
}

.comment {
    padding: 0 0 2em 0;
    width: 100%;
    min-height: 5rem;

    // by default, these look a little nasty.
    p { margin: 0.5rem 0; }

    // make sure our list elements stay within the bounds of their enclosing
    // div.
    li { margin: 2ex; }

    .comment-photo {
        float: left;
        width: 3.5em;
        img {
            border: 1px solid black;
            margin-top: 15%;
            width: 100%;
        }
    }

    .comment-right { margin-left: 10%; }
}
