/**
 * Basic styling
 */
body {
    width: 50em;
    background: $background-color;
    color: $text-color;
    font: $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 50px auto;
}
main {
    padding: 0 0 0 2px;
    &.wide {
        width: $main-wide-width;
    }
}

/**
 * Site header
 */
header#nav-container {
    margin: 0 auto;
}

nav#site-nav {
    margin: 0 auto;
    padding: 0 0 50px;
    vertical-align: top;

    li {
        list-style: none;
        display: inline-block;
        margin: 0 1.5em 0 0;
        vertical-align: top;

        a.nav-item {
            color: $nav-color;
            border-color: transparent;
            display: inline-block;
            
            &:hover, &#selected {
                color: $nav-selected-color;
                border-bottom: $nav-selected-border;
            }
        }
    }
}

div#blog-posts { }

div.post-entry {
    font-size: 14px;
    width: 380px;
    vertical-align: top;
} 

header.post-header {
    a.post-title {
        font: 200 2em "firasans";
    }

    p {
        margin: 10px 0px 0px;
        line-height: 22px; 
    }

    p.post-date {
        font-size: 11px;
        color: #8CACD8; 
    }
}


/**
 Posts Layout
 **/

ul.post-list {
    list-style-type: none;
}

li.post-section {
    margin-bottom: 15px;
}

/**
 Post Style
 **/

article > section > div >  p {
    margin: 17px 0;
    font-size: 17px;
    line-height: 30px;
}

// Source code container
.org-src-container {
    // background-color: #073642;
    padding: 1px;
    border: 3px solid $base02;
    border-left: 14px solid $base02;
    font-size: 0.95em;
    padding: 7px 10px 7px 10px; 
    margin: 5px 0 5px 0;
}

// Footnotes/Asides
aside {
    p {
      font: normal 1em "firasans";
    }
    margin: auto;
    position: absolute;
    padding-left: 65em;
    width: 10em;
    font-size: 80%;
    text-align: left;
    display: block;
}


// Quotes
.post-content blockquote {
    font: 200 1em "firasans"; 
    width: 80%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-left: 10%;

    p:not(:last-of-type) {
        border-left: 2px solid $red;
        padding-left: 2%;
        line-height: 1.5em;
        margin-right: 3em;
        margin-top: 1em; 
    }

    p:last-of-type {
        font-size: 0.92em;
        padding-top: 1%;
        text-align: right;
        font-style: italic;
    }
}

// Examples
pre.example {
    padding: 7px 0 7px 0;    
    color: $base1;
}