html {
    /*
     * Force a scrollbar so we don't get "jumps" between pages
     * long enough to have a scrollbar and those that don't.
     */
    overflow-y: scroll;
}

/**
 * Basic styling
 */
main {
    max-width: $main-width;
    margin: 0 auto;
}

/**
 * Site header
 */
header#nav-container {
    max-width: $main-width;
    margin: 0 auto;
}

nav#site-nav {
    padding: 1.5rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    li {
        list-style-type: none;

        a.nav-item {
            color: $nav-color;
            border-color: transparent;

            &:hover, &#selected {
                color: $nav-selected-color;
                border-bottom: $nav-selected-border;
            }
        }
    }
}

/**
 Posts Layout
**/
ul.post-list {
    font-family: $headerfontname;
    list-style-type: none;
}

li.post-section {
    margin: 1rem 0;
}
