@import "base";

* {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

html {
    font: $font;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color-profile: sRGB;
    rendering-intent: auto;
    /*
     * Force a scrollbar so we don't get "jumps" between pages
     * long enough to have a scrollbar and those that don't.
     */
    overflow-y: scroll;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid $base1;
}

pre, code, span.verbatim {
    font: 300 0.9em $monofontname;
}

/**
 * Basic styling
 */
main {
    max-width: $main-width;
    margin: 0 auto;
}

/**
 * Site header
 */
header#nav-container {
    max-width: $main-width;
    margin: 0 auto;
    clear: clear;

    nav#site-nav {
        padding: 1.5rem 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;

        li {
            list-style-type: none;

            a.nav-item {
                color: $nav-color;
                border-color: transparent;

                &:hover, &#selected {
                    color: $nav-selected-color;
                    border-bottom: $nav-selected-border;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    main { max-width: 90vw; }
    #nav-container { max-width: 70vw; }
}

/**
 Posts Layout
**/
ul.post-list {
    font-family: $headerfontname;
    list-style-type: none;
}

li.post-section {
    margin: 1rem 0;
}
