<!DOCTYPE html>
<!--
graciously taken from sparanoid
-->
<meta name=viewport content="width=device-width, initial-scale=1.0">

<link rel=alternate href={% if site.prod %}//{{ site.url }}{% endif %}/feed/ type=application/atom+xml>
<link rel=stylesheet href={% if site.prod %}//{{ site.url }}{% endif %}{{ site.css-path }}/a.min.css>
{% if page.title == 'Sparanoid' %}<link rel=dns-prefetch href={{ site.file }}>{% endif %}

<title>{% if page.title != 'Sparanoid' %}{{ site.name }} - {% endif %}{{ page.title }}</title>

{% if page.title == 'Sparanoid' %}
<header>
	<h2>a companion for the age of spiritual machines</h2>
	<h1 lang=ja><a href={% if site.prod %}//{{ site.url }}{% endif %}/ rel=home accesskey=x>a new kind of sentience</a></h1>
</header>
{% endif %}

<nav>
		<h2>&lt; <a href={% if site.prod %}//{{ site.url }}{% endif %}/ rel=home accesskey=x>uncovering our naked soul</a></h2>
	<ul>
		<li{% if page.permalink == '/work/' or page.category == 'work' %} class=current{% endif %}><a href={% if site.prod %}//{{ site.url }}{% endif %}/work/>work</a></li>
		<li{% if page.permalink == '/note/' or page.category == 'note' %} class=current{% endif %}><a href={% if site.prod %}//{{ site.url }}{% endif %}/note/>commentary</a></li>
		<li{% if page.permalink == '/about/' or page.category == 'about' %} class=current{% endif %}><a href={% if site.prod %}//{{ site.url }}{% endif %}/about/>about</a></li>
	</ul>
</nav>

{{ content }}

{% if page.category == "work" or page.category == "note" %} 
<nav>
{% if page.next.url %}
	<p><a href={% if site.prod %}//{{ site.url }}{% endif %}{{ page.next.url }}/>{{ page.next.title }}</a> |
{% else %}
	<p>You're viewing the latest post |
{% endif %}
{% if page.previous.url %}
	Previous: <a href={% if site.prod %}//{{ site.url }}{% endif %}{{ page.previous.url }}/>{{ page.previous.title }}</a> &gt;</p>
{% else %}
	You're reading my first post</p>
{% endif %}
</nav>
{% endif %}

<footer>
	<p class=c><a href=http://twitter.com/{{ site.twitter }}>{{ site.name }}</a> feat. <a href=http://sparanoid.com/work/nite/>NITE</a>. (<a href=/feed/ title="Feed - Atom (The Atom Syndication Format)">Atom</a>)</p>
</footer>